SECRET_KEY=django-insecure-your-super-secret-key-here
DEBUG=True

DB_ENGINE=django.db.backends.postgresql
DB_NAME=teamfinder_db
DB_USER=teamfinder_user
DB_PASSWORD=teamfinder_secure_pass
DB_HOST=db
DB_PORT=5432